.header {
	height: 65px;
	left: 0px;
	right: 0px;
	background-color: #fff;
	position: fixed;
}

.landing {
	height: 100vh;
	width: 100%;
	background-color: #262626;
	background-image: url(accordian.jpg);
	background-size: cover;
}

.videos {
	height: 100vh;
	width: calc(100% - 20px);
	background-color: #024959;
	padding-left: 20px;
}

.video-container {
	display: flex;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 100px;
	justify-content: space-around;
}

.bio {
	height: 100vh;
	width: calc(100% - 40px);
	background-color: #037E8C;
	padding: 20px;
}

.bio p {
	color: white;
}

.bio-image {
	float: right;
}

.shop {
	height: 100vh;
	width: 100%;
	background-color: #F24C27;
}

.images {
	height: 100vh;
	width: 100%;
	background-color: #024959;
}

.footer {
	height: 100px;
	width: 100%;
	background-color: #037E8C;
}

body {
	margin: 0;
	padding: 0 0px 0 0px;
}

.navigation {
	display: flex;
	flex-direction: row;
	height: 65px;
	list-style: none;
	margin-right: 10px;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 65px;
}

.navigation li {
	margin-right: 10px;
}

.navigation a,
.navigation a:visited {
	text-decoration: none;
	color: #024959;
	font-weight: bold;
}

.navigation a:hover,
.navigation a:active {
	color: cadetblue;
	transition: all 0.3s ease-in;
}

.title {
	height: 65px;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	line-height: 65px;
	color: #F24C27;
}

.youtube-video {
	height: 500px;
	width: 700px;
}

.bio-title {
	color: white;
}

.video-title {
	color: white;
}

.description {
	align-self: flex-start;
	flex-grow: 1;
	color: white;
	max-width: 500px;
}

.video-title {
	display: inline-block;
}

.arrow-left {
	transform: scaleX(-1);
}

.arrow-right {
	margin-left: 400px;
}

.discography-title {
	color: white;
}

.discography {
	color: white;
}
